*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; //Box sizing being inherited from body
}

html {
  //font-size: 10px;
  font-size: 62.5%;
  /* to get the percentage we divide the font size
  in px by the default font size which is 16px
  Ex: 10px / 16px = 62.5% */

  // @include respond("phone") {
  //   font-size: 30%; // 1rem = 4.8px, 4.8px / 16px = 30%
  // }
  @include respond("tab-land") {
    font-size: 56.25%; // 1rem = 9px, 9px / 16px = 56.25%
  }
  @include respond("tab-port") {
    font-size: 50%; // 1rem = 8px, 8px / 16px = 50%
  }
  @include respond("big-desktop") {
    font-size: 75%; // 1rem = 12px, 12px / 16px = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
    @include respond("tab-port") {
    padding: 0; 
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}