.btn {
  /* Common styles for both link and visited states */
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  font-size: $default-font-size;
  transition: all .2s;
  
  /* Additional button-specific styles */
  /* Replace &:link, &:visited with button selector */
  & {
    /* Styles for button */
    border: none;
    outline: none;
    cursor: pointer;
    /* Adjust background and text color styles based on button modifiers */
  }

  /* Rest of the styles remain the same */
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .4);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, .4);
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }

  &--animated {
    animation: moveInBottom .5s ease-out 1s;
    animation-fill-mode: backwards;
  }
  &--white {
    background-color: $color-white;
    color: $color-gray-dark-2;

    &::after {
      background-color: $color-white;
    }
  }
  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }
}

.btn-text {
  /* Common styles for both link and visited states */
  font-size: $default-font-size;
  color: $color-primary;
  background-color: transparent;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1px solid $color-primary;
  padding: .8rem .3rem;
  transition: all .2s;

  /* Additional button-specific styles */
  /* Replace &:link, &:visited with button selector */
  & {
    /* Styles for button */
    border: none;
    outline: none;
    cursor: pointer;
    /* Adjust background and text color styles based on button modifiers */
  }

  /* Rest of the styles remain the same */
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
}
